@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Farm Central Stock Management Application</h1>
    <p class="lead">
        - Please make sure to go through the README before using the application.
    </p>
    <p class="lead">
        - This App Allows you to keep track of your produce and depending on the role you can track according to different suppliers.
    </p>
    <p class="lead">
        - You can also sort out the way you want to sort the list of products.
    </p>
    <p class="lead">
        - This Application stores your data into the database and every user has their own login and user data.
    </p>
  

</div>
@if (ViewBag.roleEmployee != 0 && ViewBag.roleFarmer == 0)
{
    <div class="row">
        <div class="col-md-4">
            <h2>@Html.ActionLink("View Farmers", "Index", "Users")</h2>
            <p>
                View List of All Farmers.
            </p>

        </div>
        <div class="col-md-4">
            <h2>@Html.ActionLink("Add Farmer", "Create", "Users")</h2>
            <p>
                Create A Farmer or Employee Account.
            </p>

        </div>
        <div class="col-md-4">
            <h2>@Html.ActionLink("View Products", "Index", "Products")</h2>
            <p>
                View A list of products by specefic Farmer.
            </p>

        </div>
      
    </div>
}
@if (ViewBag.roleEmployee == 0 && ViewBag.roleFarmer != 0)
{
<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("View Products", "Index", "Products")</h2>
        <p>
            View a list of your products.
        </p>

    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Add Products", "Create", "Products")</h2>
        <p>
            Add your product in the database.
        </p>
    </div>

</div>
}

